<!-- <mat-card>
  <div class="row">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> <strong> Stock Details</strong>

          <mat-form-field style="float :right;width: 200px;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div>


          <div class="mat-elevation-z8">
            <table mat-table class="col-sm-12" [dataSource]="dataSource" matSort> -->


<!-- <ng-container matColumnDef="stockid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> StockID </th>
              <td mat-cell *matCellDef="let row"> {{row.stockid}} </td>
            </ng-container> -->

<!-- <ng-container matColumnDef="brand_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name </th>
                <td mat-cell *matCellDef="let row"> {{row.brand_name}} </td>
              </ng-container>

              <ng-container matColumnDef="model_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </th>
                <td mat-cell *matCellDef="let row"> {{row.model_name}} </td>
              </ng-container>

              <ng-container matColumnDef="category_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Type </th>
                <td mat-cell *matCellDef="let row"> {{row.category_type}} </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="sp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
                <td mat-cell *matCellDef="let row"> {{row.sp}} </td>
              </ng-container>

              <ng-container matColumnDef="cp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Costs Price </th>
                <td mat-cell *matCellDef="let row"> {{row.cp}} </td>
              </ng-container>

              <ng-container matColumnDef="stock_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Status </th>
                <td mat-cell *matCellDef="let row"> {{row.stock_status}} </td>
              </ng-container>

              <ng-container matColumnDef="cgst">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CGST </th>
                <td mat-cell *matCellDef="let row"> {{row.cgst}} </td>
              </ng-container>
              <ng-container matColumnDef="sgst">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> SGST </th>
                <td mat-cell *matCellDef="let row"> {{row.sgst}} </td>
              </ng-container>
              <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
                <td mat-cell *matCellDef="let row"> {{row.branch}} </td>
              </ng-container>
              <ng-container matColumnDef="move">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Move Stock </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" (click)="openDialog(row._id)">
                    <mat-icon>input</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>



        </div>




      </div>
    </div>

</mat-card> -->

<mat-card>
  <div>
    <mat-card-title>
      <strong style="text-align: center;"> Move Stock Details </strong>
    </mat-card-title>
  </div>

  
  <div class="row">

    <div class="col-sm-3">
      <mat-form-field>
        <mat-select placeholder="From Branch" ngModel="fromBranch" (ngModelChange)="applyFilter($event)">
          <option selected>BRANCH</option>
          <mat-option value="{{cat.bname}}" *ngFor="let cat of this.bname1">
            {{cat.bname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field>
          <mat-select placeholder="To Branch"  [(ngModel)]="toBranch">
            <option selected>BRANCH</option>
            <mat-option value="{{cat.bname}}" *ngFor="let cat of this.bname1">
              {{cat.bname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    <div class="col-sm-3">
      <mat-form-field>
        <mat-select placeholder="Select Stock Type" ngModel="Ctypes" (ngModelChange)="typeCall($event)">
          <mat-option *ngFor="let types of type " [value]="types.CategoryType">
            {{types.CategoryType}}
          </mat-option>
          <mat-option value="">View All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div class="col-sm-3">
      <mat-form-field style="width: 200px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search here...">
      </mat-form-field>
    </div>


  </div>








  <mat-card-content>

    <!-- <mat-card-title style="text-align: center;"> <strong> Move Details </strong> </mat-card-title> -->





    <table mat-table class="col-sm-12" [dataSource]="dataSource1" matSort>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="add_barcode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bar-Code </th>
        <td mat-cell *matCellDef="let row"> {{row.add_barcode}} </td>
      </ng-container>

      <ng-container matColumnDef="brand_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name </th>
        <td mat-cell *matCellDef="let row"> {{row.brand_name}} </td>
      </ng-container>

      <ng-container matColumnDef="model_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Name </th>
        <td mat-cell *matCellDef="let row"> {{row.model_name}} </td>
      </ng-container>

      <ng-container matColumnDef="category_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category Type </th>
        <td mat-cell *matCellDef="let row"> {{row.category_type}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row"> {{row.quantity}} </td>
      </ng-container> -->

      <ng-container matColumnDef="sp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Selling Price </th>
        <td mat-cell *matCellDef="let row"> {{row.sp}} </td>
      </ng-container>

      <ng-container matColumnDef="cp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Costs Price </th>
        <td mat-cell *matCellDef="let row"> {{row.cp}} </td>
      </ng-container>

      <ng-container matColumnDef="stock_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Status </th>
        <td mat-cell *matCellDef="let row"> {{row.stock_status}} </td>
      </ng-container>

      <ng-container matColumnDef="cgst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CGST </th>
        <td mat-cell *matCellDef="let row"> {{row.cgst}} </td>
      </ng-container>
      <ng-container matColumnDef="sgst">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SGST </th>
        <td mat-cell *matCellDef="let row"> {{row.sgst}} </td>
      </ng-container>
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch </th>
        <td mat-cell *matCellDef="let row"> {{row.branch}} </td>
      </ng-container>





      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  </mat-card-content>

  <mat-card style="text-align:right;">
    <!-- <mat-card-footer > -->

    <!-- <button mat-raised-button style="border-radius: 25px;" (click)="openDialog()" color="primary">Select Branch</button> -->
<button  mat-raised-button style="border-radius: 25px;" (click)="onSubmit()"  color="primary">Move</button>
    <!-- <button mat-raised-button style="border-radius: 25px;" mat-dialog-close color="accent">Cancel</button> -->
    <!-- </mat-card-footer> -->
  </mat-card>

</mat-card>