// //  .example-large-box {
// //     display: flex;
// //     // align-items: center;
// //     justify-content: center;
// //     margin: 16px;
// //     padding: 16px;
// //     border-radius: 8px;
// //     padding: 50px;
// //     height: 430px;

    
// //   }

// .flex-me {
// //   // display: inline-flex;
// //   // flex-flow: row wrap;
//   // background: black;
//   background-image: url("../../../assets/login/back2.jpg") ;
//   background-size: cover;
//   height: 100vh;
//   // background-repeat: no-repeat;
  
// }

//   .example-large-box {
//     // height: 300px;
//     // width: 300px;
//     background-color: white;
//     height: 400px;
//     width: 250px;
//     margin-left: 500px;
    
//   }

//   .top-card{
//     margin-top: 30px;
//     width: 350px;
//     margin-left: 450px;
//     border-radius: 10px;
//   }

  







.example-large-box {

    background-color: white;
    height: 400px;
    width: 350px;
    background: linear-gradient(to right, #0099ff 10%, #99ccff 60%);
  }

  .top-card{
    margin-top: 30px;
    width: 350px;
    background: linear-gradient(to right, #0099ff 10%, #99ccff 60%);

    border-radius: 10px;
  }
  .change-password{
    text-align: center;
  }
  .image{
    height: 100vh;
    // background-image: url("../../../assets/login/Building-mobile-application.jpg");
    background-size: cover;
    // background-position: center;

  }


  